{{>layout/header}}
<span class="badge text-bg-primary">카카오톡</span> > <span class="badge text-bg-warning">알림톡</span>
<br>

<span class="badge text-bg-secondary">Secondary</span>
<span class="badge text-bg-success">Success</span>
<span class="badge text-bg-danger">Danger</span>
<span class="badge text-bg-warning">Warning</span>
<span class="badge text-bg-info">Info</span>
<span class="badge text-bg-light">Light</span>
<span class="badge text-bg-dark">Dark</span>
<br>
{{>layout/menu}}
<div class="container">
    <h1> 객체지향+Spring으로 SMS발송 코드 짜기 </h1>
    <div>
        <div class="row">
            <div class="col-1 border">col-1</div>
        </div>
        <div class="row">
            <div class="col-2 border">col-2</div>
        </div>
        <div class="row">
            <div class="col-3 border">col-3</div>
        </div>
        <div class="row">
            <div class="col-4 border">col-4</div>
        </div>
        <div class="row">
            <div class="col-5 border">col-5</div>
        </div>
        <div class="row">
            <div class="col-6 border">col-6</div>
        </div>
        <div class="row">
            <div class="col-7 border">col-7</div>
        </div>
        <div class="row">
            <div class="col-12 border">col-12</div>
        </div>
    </div>
</div>

{{>layout/footer}}